pkgbase = intune-portal-bin
	pkgdesc = Enroll devices in Microsoft Azure Endpoint
	pkgver = 1.2404.23
	pkgrel = 1
	url = http://intune.microsoft.com
	install = intune-portal-bin.install
	arch = x86_64
	license = Unknown
	depends = curl
	depends = at-spi2-core
	depends = msalsdk-dbusclient
	depends = gtk3
	depends = webkit2gtk
	depends = libsoup
	depends = libsecret
	depends = libpwquality
	depends = libx11
	depends = sqlite
	provides = intune-portal
	source = https://packages.microsoft.com/ubuntu/22.04/prod/pool/main/i/intune-portal/intune-portal_1.2404.23-jammy_amd64.deb
	source = os-release
	sha256sums = cc01f7e6217edd8a43346a375219b32f8a51257944846d4f693ef5aa746da408
	sha256sums = ef3177044475bb6ab8cc77a97b889742eebf0854bbdab5f098a4c55a62c8c39e

pkgname = intune-portal-bin
