pkgbase = intune-portal-bin
	pkgdesc = Enroll devices in Microsoft Azure Endpoint
	pkgver = 1.2405.17
	pkgrel = 1
	url = http://intune.microsoft.com
	install = intune-portal-bin.install
	arch = x86_64
	license = Unknown
	depends = curl
	depends = at-spi2-core
	depends = msalsdk-dbusclient
	depends = gtk3
	depends = webkit2gtk
	depends = libsoup
	depends = libsecret
	depends = libpwquality
	depends = libx11
	depends = sqlite
	provides = intune-portal
	source = https://packages.microsoft.com/ubuntu/22.04/prod/pool/main/i/intune-portal/intune-portal_1.2405.17-jammy_amd64.deb
	source = os-release
	sha256sums = 5a954f5b387c8cdd3dd8c698dab31784b7e9557b1f94c97d84e63d9cd18994b9
	sha256sums = ef3177044475bb6ab8cc77a97b889742eebf0854bbdab5f098a4c55a62c8c39e

pkgname = intune-portal-bin
